@charset "utf-8";
$light: #F7F7F7;
$dark: #1c1f33;
$primary: #d35e5d;
$secondary: #894d4d;
$border: rgba(#707070, 0.36);
$spacing: 2rem;
$rounding: 5px;

@mixin card {
    background-color: white;
    border-radius: $rounding;
    border: $border solid 2px;
    padding: 1rem;
}

@mixin transition {
    transition-duration: 0.2s;
}
@mixin maxWidth {
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
}
@mixin link {
    @include transition();
    color: $primary;
    border: none;
    background: none;
    padding: 0;
    font-size: 1rem;

    &:hover {
        color: $secondary;
    }
}

html,
body,
.app {
    height: 100%;
    background: $light;
    font-size: 1rem;
    font-family: sans-serif;
    color: $dark;
}

a {
    @include link();
  
}

.link {
    @include link;
}

.page {
    height: 100%;
}

.brand {
    @include transition();
    display: flex;
    align-items: center;

    img {
        height: 4rem;
        margin-right: 1rem;
    }

    text-decoration: none;
    color: $dark;
    margin: 0;
    padding: 0;
}

a.brand {
    &:hover {
        opacity: 0.8;
    }
}

.SR {
    color: $primary;
    font-weight: bold;

    span {
        color: $secondary;
    }

    font-size: 1.3rem;

}

.btn {
    @include transition();
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: $primary;
place-content: center;
    border-radius: $rounding;
    color: white;
    border: 4px $primary solid;
    display: grid;
    text-decoration: none;
    text-align: center;
    
}

.btn:hover {
    background: $secondary;
    color: white;
}

.btn:active {
    background: $primary;
}

.btn.dark {
    background: $dark;
    border-color: $dark;

    &:hover {
        background: $secondary;
        border-color: $secondary;
    }

    &:active {
        background: $dark;
        border-color: $dark;
    }
}

.btn--icon {
    @include transition();

    padding: 0.2rem 0.2rem;

    background: none;
    border: none;
    border-radius: $rounding;
    display: flex;
    align-items: center;
    height: 2rem;

    display: inline;

    width: auto;

    &:hover {}
}
select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    display: block;
    border: none;

  @include transition();
  font-size: 1rem;
  padding: 0.125rem 0.125rem;
  background: $primary;

  border-radius: $rounding;
  color: white;
  border: 4px $primary solid;
  display: inline;
  text-decoration: none;
  &:hover {
      background: $secondary;
      border-color: $secondary;
  }
  &:active {
      background: $primary;
      border-color: $primary;
  }
   
}

.title--large {
    font-size: 1.5rem;

    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}
form {
.label {
    font-weight: bold;
    font-size: 1.1rem;

    span {
        //  color: gray;
        font-size: 1rem;
        font-weight: normal;
    }
}
}

.input {
    @include transition();
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.25rem;
    border: $border solid 2px;
    border-radius: $rounding;
    
}

.input:focus {
    border-color: $primary;
    outline: none;
}

input:hover {
    border-color: $secondary;
}

.input__label {
    font-weight: bold;
}

.visitors {
    color: $primary;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.views {
    color: $secondary;
}
.progressBar {
    @include transition();
    height: 0.5rem;
    position: relative;
    background: $light;
    border-radius: 25px;
    //padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    span {
        @include transition();
       display: block;
       height: 100%;
      border-radius: 25px;
       background-color: $primary;
       
       position: relative;
       overflow: hidden;
       width: 0%;
    }
}
.app {
    padding: $spacing;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2rem;
    grid-row-gap: $spacing;
}

.home {
    width: 100%;
    display: grid;
    grid-template-rows: 2rem auto;
    grid-row-gap: $spacing;
     
}

.home__nav {
    display: flex;
    align-items: center;
    // margin-bottom: $spacing;

    .brand {
        margin-right: auto;
    }
}

.home__main {
    background-color: white;
    padding: $spacing;
    border-radius: $rounding;

    // height: 86%;
}

.auth__main {

    padding: $spacing;
    border-radius: $rounding;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 86%;
}

.auth__container {
    @include card;
    padding: $spacing;
    width: 20rem;
}

.auth__form {
    margin-top: 2rem;
.lable {
    margin-bottom: 1rem;
}
    .btn {
        margin-top: 0.5rem;
    }
}
.error {
    color: $secondary;
}
.home__main__header {
    display: flex;

    .text {
        margin-right: auto;
    }
}

.property__nav {
    display: flex;
    align-items: center;
    // margin-bottom: $spacing;
    grid-column: span 12;

    .brand {
        margin-right: auto;
    }
}

.property {

    display: grid;
    grid-template-rows: 2rem 5rem 8rem 30rem;
    grid-template-columns:repeat(12, 1fr);
    grid-row-gap: $spacing;
    grid-gap: $spacing/2;
    height: auto;
  
.header {
    display: grid;
    grid-template-columns: auto 3rem;

    .key {
        text-align: right;
    }
}

.table {

    overflow-y: scroll;
}

.table__row {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto;
    padding: 0.5rem 0;
    grid-row-gap: 0.2rem;
//background: orange;
//border: black 1px solid;
    .label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
       
    }
    a.label {
        cursor: pointer;
        text-decoration: none;
    color: $dark;
    &:hover {
        color: $secondary;
        text-decoration: underline;
    }
    &:active {
        border: none;
        outline: none;
    }
}

    .value {
        font-weight: bold;
        text-align: right;
        grid-row: span 2;
       // background: red;
        margin-top: auto;
        margin-bottom: auto;
    }

    .progressBarprogress {
        width: 100%;
        grid-column: span 2;

    }

}
}
.property__nav__domain {
    margin-right: auto;
}
.property__timeframe {
    grid-column: span 12;
    display: flex;
    align-items: center;
    p {
        margin-right: 1rem;
    }
}

.property__stats-header {
    @include card;
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .header-stat {
        text-align: center;

        .value {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 0.25rem;
        }
    }

}

.property__views-graph {
    @include card;
    grid-column: span 12;
   
    grid-row: span 1;
    padding: 1rem;
   .chartContainer {
    position: relative;
    width: 100%;
   
    height: 100%;
    canvas {
       
    }
   }
}

.property__half-stat {
    @include card;
    grid-column: span 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem auto;
    height: 30rem;


}

.property__half-quarter-stat {
    @include card;
    grid-column: span 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2rem auto;
      height: 30rem;
}

.home__properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $spacing/2;
    margin-top: $spacing;



}

.properties__card {
    @include card;
    @include transition();
    padding: $spacing/2;
    color: $dark;
    text-decoration: none;
    display: flex;
   
    flex-direction: column;
height: 19rem;
    .name {
        font-weight: bold;
    }

    &:hover {
        background-color: $light;
    }

    .properties__statRow {
        display: flex;

        p {
            margin-right: 1rem;

            span {
                font-weight: bold;
            }
        }

        margin-top: auto;

    }

    .notEnough {
        margin-top: auto;

        display: grid;
        place-content: center;
        min-height: 8rem;

        p {
            font-size: 0.8rem;
        }

    }
    .chartContainer {
        position: relative;
        width: auto;

        height: 15rem;
        margin: 1rem 0;
    }

    canvas {
        //margin: 1rem 0;
       // height: 8rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        //background: red;
    }
}
.footer {
    font-size: 1rem;
}
.back {
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: block;
}
.newPropertyForm {
    margin-top: 2rem;
    max-width: 700px;
 .exclude {
  //   float: right;
 }
 .btn {
     display: block;
     margin-top: 2rem;
 }
 label {
     display: block;
     margin-top: 1.5rem;
 }
}


@media only screen and (max-width: 1550px) {
.home__properties {
    grid-template-columns: 1fr 1fr 1fr;
    .properties__card {
        height: 20rem;
    }
    .chartContainer {
        height: 15rem;
       
    }
}
 .property__half-quarter-stat {
     grid-column: span 4;
 }
}
@media only screen and (max-width: 1200px) {
    .home__properties {
        grid-template-columns: 1fr 1fr 1fr;

        .properties__card {
            height: 17rem;
        }

        .chartContainer {
            height: 12rem;

        }
    }
    .property {

    }
   
}
@media only screen and (max-width: 1174px) {
    .home__properties {
        grid-template-columns: 1fr 1fr;
 .properties__card {
     height: 20rem;
 }
        .chartContainer {
            height: 15rem;

        }
    }
    
}
@media only screen and (max-width: 825px) {
    .home__properties {
        grid-template-columns: 1fr;

        .properties__card {
            height: 20rem;
        }

        .chartContainer {
            height: 17rem;

        }
    }
     .property__half-quarter-stat {
         grid-column: span 6;
     }
      .property__half-stat {
          grid-column: span 12;
      }

}
@media only screen and (max-width: 600px) {
     .property__half-quarter-stat {
         grid-column: span 12;
     }

     .property__half-stat {
         grid-column: span 12;
     }
    }
@media only screen and (max-width: 475px) {
    .home__properties {
        grid-template-columns: 1fr;

        .properties__card {
            height: 15rem;
        }

        .chartContainer {
            height: 8rem;

        }
    }
    .app {
        padding: 0.5rem 1rem;
    }
    

}